@page
@model IndexModel
@{
    ViewData["Title"] = "AmNet Cloud - Connexion";
}

<html>
<body>
    <div class="login-container">
        <h2>Hello World Connexion</h2>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>
        <br />
        <p>Vous n'avez pas de compte ? <a href="/Inscription">Inscrivez-vous</a></p>
    </div>
</body>
</html>
